body { 
  font-family: 'Roboto', 'Arial';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contacts-wrapper {
  max-width: 1280px;
  min-height: 400px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
}

.contacts-wrapper h1 {
  font-size: 36px;
  margin-bottom: 50px;
}


.contacts-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts-info span {
    display: block;
    margin-bottom: 10px;
}

.email {
    text-decoration: underline;
    color: red;
}
