.passenger-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 90px;
  max-width: 1280px;
  min-height: 400px;
  margin: 0 auto;
}

.passenger-info {
  max-width: 1050px;
  margin-bottom: 115px;
}
.passenger-info h1 {
  font-size: 30px;
  margin-bottom: 55px;
  font-weight: normal;
}
.passenger-info p {
  font-size: 17px;
  margin-bottom: 40px;
}

.passenger-block h2 {
  font-size: 38px;
  font-weight: normal;
  margin-bottom: 45px;
}

.passenger-information {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.passenger-item {
  padding: 35px 30px;
  width: 33.33%;
}

.item-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.item-header img {
  margin-right: 20px;
}
.passenger-item span {
  display: inline-block;
  font-size: 21px;
  font-weight: 500;
}

.lifts-wrapper {
  background-image: url(../../../public/img/lifts-bg.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 130px 10px 100px 10px;
}

.lifts-box {
  max-width: 1280px;
  min-height: 400px;
  margin: 0 auto;
}

.lifts-item {
  /* padding: 20px; */
  display: flex;
  justify-content: space-between;
  background-color: white;
  max-width: 1280px;
  height: 740px;
  box-shadow: 5px 5px 22px -1px rgba(0, 0, 0, 0.4);
}

.lifts-image {
  background-image: url(../../../public/img/lifts/lift-bg.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  overflow: hidden;
}

.lift {
  transition: all 0.2s ease-in;
}

.lift:hover {
  transition: all 0.2s ease-in;
  transform: scale(1.02);
}

.lift {
  margin-bottom: 30px;
}

.lifts-info {
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}

.info-title {
  font-size: 27px;
  font-weight: 500;
  margin-bottom: 25px;
}

.info-text {
  display: block;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 30px;
}

.info-price {
  font-size: 31px;
  font-weight: 700;
  display: block;
  margin-bottom: 45px;
  color: #c20d0d;
}

.info-body {
  margin-bottom: 50px;
}

.info-body p {
  border-top: 1px solid #e0e0e0;
  padding: 20px 5px;
}

.lifts-social {
  display: flex;
  align-items: center;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}
.social-icons img {
  padding: 0px 10px;
}

.social-friends span {
  display: inline-block;
  font-size: 14px;
  color: rgb(189, 189, 189);
}

.info-form {
  display: flex;
  max-height: 55px;
}

.info-form input {
  padding: 10px 15px;
  font-size: 15px;
  border: 1px solid #c20d0d;
  color: #c20d0d;
  max-width: 240px;
  max-height: 100%;
}
.info-form input::placeholder {
  color: #c20d0d;
  font-size: 15px;
}

.info-form button {
  cursor: pointer;
  background-color: #c20d0d;
  color: white;
  font-size: 21px;
  border: none;
  outline: none;
  width: 200px;
  height: 100%;
}

.info-form button:hover {
  transition: all 0.2s ease;
  background-color: #850303;
}

.rate-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 90px;
  padding-bottom: 60px;
  max-width: 1280px;
  margin: 0 auto;
}

.rate-wrapper h2 {
  font-size: 38px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 80px;
}

.rate-box {
  max-height: 800px;
  display: flex;
  gap: 30px;
}

.rate-item {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  width: 33.33%;
  box-shadow: 5px 5px 22px -1px rgba(0, 0, 0, 0.4);
  padding-bottom: 65px;
}

.item-color {
  background-color: #cd021a;
}

.rate-header {
  height: 95px;
  background-image: url(../../../public/img/percentage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-bussines {
  background-image: url(../../../public/img/bussines.jpg);
}

.head-bussines .rate-price {
  text-align: center;
}

.item-body {
  flex: 1;
  padding-top: 80px;
}

.rate-price {
  text-align: center;
  color: #fd0c44;
  font-size: 26px;
  margin-bottom: 50px;
}
.price-bold {
  color: #e1062b;
  font-size: 42px;
  font-weight: 600;
}

small {
  color: rgb(189, 189, 189);
}

.lift-country {
  padding-bottom: 30px;
}

ul {
  list-style: none;
  pointer-events: none;
  margin-bottom: 100px;
}

.lift-list {
  padding: 0px 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li::before {
  content: url(../../../public/img/ico/check.png);
  padding-right: 15px;
  width: 17px;
  height: 13px;
  pointer-events: none;
}

.li-color,
.small-color,
.price-color,
.rateprice-color {
  color: white;
}

.li-color::before {
  content: url(../../../public/img/ico/check-white.png);
  padding-right: 15px;
  width: 17px;
  height: 13px;
  pointer-events: none;
}

.rate-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rate-btn {
  cursor: pointer;
  text-align: center;
  padding: 25px 50px;
  border-radius: 50px;
  border: 1px solid #e1062b;
  color: #e1062b;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.rate-btn:hover {
  transition: all 0.2s ease-in-out;
  color: white;
  background-color: #e1062b;
}

.btn-color {
  background-color: #e1062b;
  color: white;
  border: 1px solid white;
}
.btn-color:hover {
  background-color: #ffffff;
  color: #e1062b;
}

.garanty-wrapper {
  padding-top: 90px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1280px;
  margin: 0 auto;
}

.garanty-wrapper h3 {
  text-align: center;
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 100px;
}

.garanty-box {
  display: flex;
  justify-content: center;
}

.garanty-time {
  display: flex;
  align-items: center;
  flex: 0;
}

.garanty-time p {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.garanty-time img {
  margin-right: 40px;
}

.time-text {
  padding: 10px;
  min-width: 370px;
}

.text-garanty {
  padding-left: 80px;
}

